#midi-data {
  position: relative;
  overflow: hidden;
  height: 700px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(133, 71, 122, 0.7);
}
#midi-data ul {
  position: absolute;
  left: 0;
  bottom: 0;
}
#midi-data ul li {
  font-family: monospace;
}
